
      <div class="row">
        <div class="col-xs-12">
          <h1 ng-bind="w.steprange"></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <label for="userid">用户id（userid）</label>
              <input type="text" class="form-control" id="userid" placeholder="用户id（000000）" ng-model="w.userid" required>
            </div>
            <div class="form-group">
              <label for="deviceserial">绑定设备序列号（deviceserial）</label>
              <input type="text" class="form-control" id="deviceserial" placeholder="设备序列号（068000000101143b455be531e）" ng-model="w.deviceserial"  required>
            </div>
            <div class="form-group">
              <label for="deviceType">设备类型（deviceType）</label>
              <input type="text" class="form-control" id="deviceType" placeholder="DS100" ng-model="w.deviceType"  required>
            </div>
              <div class="form-group">
                <label for="steprange">随机步数</label>
                <div>
                  <b>15000</b>
                    <span style="padding-left: 10px; padding-right: 10px">
                    <input id="steprange" type="text" class="span2" value="" data-slider-min="15000" data-slider-max="30000" data-slider-step="1" data-slider-value="[15000,20000]" ng-model="steprange"/> 
                    </span>
                  <b>30000</b>
                </div>
              </div>
            <div class="clearfix"></div>
            <!--
            <div class="form-group">
              <label for="days">上传天数</label>
              <input type="text" class="form-control" id="days" placeholder="1" value="1" required>
            </div>
            -->
            <div class="well center-block">
            <button type="submit" class="btn btn-default btn-block btn-lg">查看历史</button>
            <button type="submit" class="btn btn-primary btn-block btn-lg">生成数据</button>
            <button type="submit" class="btn btn-primary btn-block btn-lg">上传</button>
            </div>
          </form>
          <div class="well center-block">
            <canvas id="WanbuChart" width="300" height="200"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h2>说明：</h2>
          <p>1、每天最好只传1次，否则可能出现有效步数超过100%的情况；</p>
          <p>2、每天上传时间选择在晚上，否则会出现“未来”步数</p>
        </div>
      </div>